<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<h4>I need to execute these commands to start the server: <br>
A) /bin/bash --login <br>
B) Set the ENV['POSTGRES_USERNAME'] + Password and ENV["SECRET_KEY_BASE"] <br>
I can do this by running this in the command shell: <br>
export POSTGRES_USERNAME='??' <br>
</h4>
